mat-toolbar {
    justify-content: space-between;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.searchBoxDiv {
    margin-bottom: 10px;
    margin-right: 5%;
}

.inputBox {
    box-shadow: 0 10px 20px 0 #B0C1D9;
    padding-left: 15px;
    height: 20px;
    width: 90%;
    border-radius: 20px;
}

.sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
}