
<mat-toolbar>
    <span>
      <button mat-icon-button (click)="sendSideNavSignal()">
        <mat-icon>menu</mat-icon>
      </button>
      {{title}}
    </span>
    <!--to be changed to other functional feature
    <div fxHide.lt-md>
      <span class="column-label">Columns</span>
      <mat-slider [max]="6" [min]="3" [thumbLabel]="true">
      </mat-slider>
    </div>
    -->
    <div class="searchBoxDiv" class="col-6" *ngIf="router.url === '/herolist'">
        <input class="form-control" matInput [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Search">
    </div>
    <!--<mat-icon>search</mat-icon>
      <div>
      <button mat-button *ngIf="router.url !== '/'" routerLink="/">Hero List</button>
      <button mat-button>N/A</button>
      <button mat-button>Match History</button>
    </div>-->
</mat-toolbar>

