
<mat-toolbar>
    <span *ngIf="router.url === '/'">Hero List</span>
    <span *ngIf="router.url === '/dum'">dum</span>
    <!--to be changed to other functional feature
    <div fxHide.lt-md>
      <span class="column-label">Columns</span>
      <mat-slider [max]="6" [min]="3" [thumbLabel]="true">
      </mat-slider>
    </div>
    -->
    <div style="margin:auto; max-width: 500px; padding: 20px;">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (input)="onSearchChange()" autocomplete="off" placeholder="&#61442;  Start searching for a hero by name or id">
    </div>
    <div>
      <button mat-button *ngIf="router.url !== '/'" routerLink="/">Hero List</button>
      <button mat-button>N/A</button>
      <button mat-button>Match History</button>
    </div>
</mat-toolbar>

