<div class="d-flex flex-column mb-1 mt-4">
    <div class="d-flex flex-row mx-lg-5">
        <div class="col-9 col-md-10 input-group-sm">
            <input type="tel" class="form-control m-auto" [(ngModel)]="uid" placeholder="Dota ID" style="width: 100%;">
        </div>

        <div class="col-1 col-md-5 ml-n2">
            <button type="button" class="btn btn-dark custom-button" (click)="getRecent()">
                Find
            </button>
        </div>
    </div>
    <div class="ml-3 mt-2 ml-md-5 pl-md-3">
        <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(savedUid)">Last checked: {{savedUid}}</button>
    </div>
    <div class="ml-3 mt-2 ml-md-5 pl-md-3" *ngIf="godMode">
      <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(25907144)">Cr1t</button>
      <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(18180970)">Handsken</button>
      <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(56939869)">Gorgc</button>
      <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(173978074)">NothingToSay</button>
      <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(250999009)">taco</button>
      <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(216266355)">juju</button>
      <button type="button" class="btn btn-sm btn-info mr-1 mb-1" (click)="getRecent(316051778)">culture</button>
  </div>
</div>

<div class="p-3" *ngIf="profileName !== ''">
    <div class="card mb-3 p-md-2 p-1 shadow-sm" style="max-width: 500px; margin: 0 auto;">
        <div class="row g-0">
          <div class="col-md-8 col-7">
            <div class="card-body">
              <div class="mb-3">
                <h4 class="card-title">Player Detail of: {{profileName? profileName + " / ": ''}}{{profilePersonaName}}</h4>
                <h5 class="card-text">ID: {{personUid}}</h5>
                <h5 class="card-text">Steam URL: {{profileUrl}}</h5>
              </div>
                
                
              <div class="">
                <button type="button" class="btn iconButton" id="dotabuff" (click)="goToPlayerWebsite(personUid, 1)"></button>
                <button type="button" class="btn iconButton" id="opendota" (click)="goToPlayerWebsite(personUid, 2)"></button>
                <button type="button" class="btn iconButton" id="steam" (click)="goToPlayerWebsite(personUid, 3)"></button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-3 pt-5 pt-md-4">
            <img [src]="profilePic? profilePic: 'https://www.colorcombos.com/images/colors/FFFFFF.png'" class="shadow rounded img-fluid rounded-start imageClass" alt="...">
          </div>

        </div>
    </div>
</div>

<div class="p-3">
    <div class="card mb-3 p-md-2 p-1 shadow-sm" style="max-width: 900px; margin: 0 auto;" *ngFor="let m of recent20Matches">
        <div class="row g-0">
          
          <div class="col-md-3 my-auto pt-3 pt-md-auto ml-4 ml-md-0" style="margin: 0 auto;">
            <img [src]="m.hero_image" class="shadow rounded img-fluid rounded-start imageClass" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <div class="card-header">
                <div class="d-flex flex-wrap">
                    <div class="col-12 col-md-3 p-0 mb-1 mb-md-0">
                        <span class="winLose" *ngIf="m.win == true" style="color: #A9CF54;">WON MATCH</span>
                        <span class="winLose" *ngIf="m.win == false" style="color: #C23C2A;">LOST MATCH</span>
                    </div>
                    <div class="col-md-9 p-0">
                        <span *ngIf="m.lobby_type_name == 'Ranked'" style="font-weight: bold;">{{m.lobby_type_name}}</span>
                        <span *ngIf="m.lobby_type_name != 'Ranked'" style="font-weight: bold;">{{m.game_mode_name}}</span> 
                        <span style="padding-left: 15px;">{{m.match_id}}</span>
                        <span style="padding-left: 15px;">{{calculateDuration(m.duration)}} Min</span>
                        <span style="padding-left: 15px;" [style]="skillBracketStyle(m.skill)">{{skillBracketLabel(m.skill)}}</span>
                    </div>
                </div>
                
              </div>

              <ul class="list-group list-group-flush" >
                <li class="list-group-item">KDA: {{m.kills}}/{{m.deaths}}/{{m.assists}}</li>
                <li class="list-group-item">GPM: {{m.gold_per_min}} XPM: {{m.xp_per_min}}</li>
              </ul>

              <div class="d-flex flex-row" style="padding-left: 10px;">
                <div class="col-2 itemBox" *ngFor="let i of m.items">
                  <img class="shadow rounded itemImage" [src]="dotaImgSvc.getItemPortraitById(i)">
                </div>
              </div>
              <p class="card-text mt-4 pl-2"><small class="text-muted">Ended: {{convertUnixTimestamp(m.start_time)}}</small></p>
              <div class="buttonGroup">
                <button type="button" class="btn iconButton" id="dotabuff" (click)="goToDetailWebsite(m.match_id, 1)"></button>
                <button type="button" class="btn iconButton" id="opendota" (click)="goToDetailWebsite(m.match_id, 2)"></button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
